body {
    font-family: Arial;
}

h1,
h2 {
    color: greenyellow;
}


/* pilihkan tag a yang ada di dalam tag li yang ada di dalam ul */

ul li a {
    color: orange;
}

ol li a {
    color: red;
}


/* memanggil id */


/* sebuah element html hanya boleh memiliki 1 id */


/* satu halaman hanya boleh memiliki 1 element dengan id tersebut */


/* id digunakan sebagai penanda halaman untuk link */


/* id digunakan untuk javascript */


/* sebaiknya tidak digunakan untuk CSS, lebih baik gunakan class */

#p1 {
    color: royalblue;
}


/* memanggil class */

.p2 {
    color: sienna;
}

.cetak-tebal {
    font-weight: bold;
}


/* cari yang punya cetak tebal di dalam p */

p.cetak-tebal {
    line-height: 30px;
}